<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img_21"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkoutAPP"
        tools:targetApi="31">
        <activity
            android:name=".Fitness"
            android:exported="false" />
        <activity
            android:name=".Location"
            android:exported="true" />
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".Signup"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Splash"
            android:exported="true" />
        <activity
            android:name=".Calsinthenics"
            android:exported="true" />
        <activity
            android:name=".BodyBuilding"
            android:exported="true"
            android:theme="@style/Theme.WorkoutAPP" />
        <activity
            android:name=".Cardio"
            android:exported="true" />
        <activity
            android:name=".PowerLifting"
            android:exported="true" />
        <activity
            android:name=".DashBoard"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />
    </application>

</manifest>